.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 400px;
  }

  
  .baloon {
    width: 200px;
    position: absolute;
    top: 520px;
    left: 370px;
  }
  
  .speach {
    font-size: 15px;
    position: absolute;
    top: 550px;
    left: 400px;
    z-index: 2;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 500px;
    left: 600px;
  }